.square {
  height: 40px;
  width: 40px;
  /* color: red; */
}
.row {
  /* margin-top: 3px;
  margin-bottom: 3px; */

  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}
[color~="red"] {
  color: red;
}
[color~="blue"] {
  color: blue;
}
